{% extends 'base.html.twig' %}

{% block body %}
<h2>Ajouter un Personnage</h2>

{# 
{{ form(tvShowForm) }} <form> <input ...> </form>
#}

{# https://symfony.com/doc/current/form/form_customization.html#form-functions-and-variables-reference #}


{{ form_start(characterForm) }} {# <form method=""post"> #}
    
    {# form_widget(tvShowForm) permet d'afficher tout les champs du formulaire d'un coup #}

    <div class="row">
        <div class="col-sm-6">
            {{ form_row(characterForm.name) }}
            {{ form_row(characterForm.tvShow) }}
        </div>
    </div>
    

    <input type="submit" value="Ajouter" class="btn btn-primary">
{{ form_end(characterForm) }} {# </form> #}

{% endblock %}
